body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
}

.button {
    font-size: 1.2rem;
    color: white;
    border: 2px white solid;
    font-family: 'Montserrat', sans-serif;
    background-color: #003366;
    margin: 1rem;
    border-radius: 2px;
}

.button:hover {
  color: #003366;
  background-color: white;
  border-color: #003366;
}

.pointer {
  cursor: pointer;
}

h2, h3 {
  font-family: 'Limelight', cursive;
}

h2 {
  font-size: 4rem;
  margin-bottom: 5%;
}

h3 {
  font-size: 2rem;
  margin: 0%;
}

.login-button {
  padding: 3%;
}

.login-field {
  font-size: 1rem;
  padding: 3%;
}

.login-view .prime-view {
  height: 100vh;
}

.login-view {
  display: flex;
  justify-content: space-between;
  background-color: #caaa5b;
  position: fixed;
}

.prime-view {
  padding-top: 3%;
}

.hotel-image {
  width: 50%;
  border-left: #e6e6e6 5px solid;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.login-form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 25%;
  background-color: #e6e6e6;
  padding: 20vmin 10vmin 20vmin 10vmin ;
  margin-bottom: 35%;
}

.login-form > div > img {
  width: 100%;
  margin-bottom: 10%;
}

.error-message {
  color: red;
  font-size: larger;
  z-index: 2;
  position: absolute;
  top: 15vmin;
}

.icon{
  height: 50px;
  width: 50px;
  margin: 0%;
}

main, .icons-container {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  top: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 1px 5px #888888;
  z-index: 1;
}


.home-button {
  width: 40vmin;
  margin: 1%;
}

.home-user-section{
  width: inherit;
  display: flex;
  justify-content: space-evenly;
}

.user-info{
  font-family: 'Limelight', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 51 , 102, 0.8);
  border: 5px #003366 solid;
  height: 15vmin;
  width: 40vmin;
  margin: 1%;
  font-kerning: none;
}

.user-info p {
  font-size: x-large;
  margin: 1%;
  color: white;
}

.upcoming-stay-display, .past-stay-display {
  overflow-y: auto;
  height: 20vmin;
  width: 80vmin;
  border: 5px #003366 solid;
}

.user-spend-rewards {
  display: flex;
  background-color: #caaa5b;
  height: 20vmin;
  width: 60vmin;
}

.upcoming-label, .past-label {
  margin-top: 5%;
}

.user-spend, .user-rewards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  width: 50%;
}

.user-spend {
  border-left: 5px white solid;
}

.money-spent, .points-accrued {
  margin-top: 0%;
  font-size: 2rem;
  color: #003366;
}

.datepicker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  background-color: #003366;
}

.datepicker > label {
  color: white;
  margin: 1vmin;
  font-size: 1.5rem;
}

.date-select {
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border: 2px white solid;
  border-radius: 2px;
}

.home-dash-page, .room-results-page {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.home-header, .filter-rooms-form, .results-display  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-select {
  font-size: large;
  margin: 5%;
  font-family: 'Montserrat', sans-serif;
}

.filter-rooms-label {
  font-size: large;
}

.room-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 5px #caaa5b solid;
  height: 20vmin;
  width: 100vmin;
  margin: 1%;
  padding: 2%;
}

.room-option > img {
  width: 30%;
  border: 2px #caaa5b solid;
}

.price-header {
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
}

.price-header > span {
  font-size: small;
}

option {
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal-container {
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: white;
  border: 5px #003366 solid;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal-content p span {
  font-size: 1.5rem;
}

.modal-btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
}

.modal-btn-primary {
  background-color: #00449e;
  color: #fff;
}

.micromodal-slide.is-open {
  display: block;
}

.hidden, input::-webkit-calendar-picker-indicator, .micromodal-slide {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

@import '~js-datepicker/dist/datepicker.min.css';
