body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
}

.pointer {
  cursor: pointer;
}

h2, h3 {
  font-family: 'Limelight', cursive;
}

h2 {
  font-size: 4rem;
  margin-bottom: 5%;
}

h3 {
  font-size: x-large;
}

.login-view .prime-view {
  height: 100vh;
}

.login-view {
  display: flex;
  justify-content: space-between;
  background-color: #caaa5b;
  position: fixed;
}

.prime-view {
  padding-top: 3%;
}

.hotel-image {
  width: 50%;
  border-left: #e6e6e6 5px solid;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.login-form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 25%;
  background-color: #e6e6e6;
  padding: 10vmin;
  margin-bottom: 35%;
}

.login-form > div > img {
  width: 100%;
  margin-bottom: 10%;
}

.icon{
  height: 50px;
  width: 50px;
  margin: 0%;
}

.icons-container {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  top: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 1px 5px #888888;
  z-index: 1;
}

main {
  display: flex;
  justify-content: center;
}

.home-button {
  width: 40vmin;
  margin: 1%;
}

.home-user-section{
  width: inherit;
  display: flex;
  justify-content: space-evenly;
}

.user-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.user-info p {
  font-size: x-large;
  margin: 1%;
}

.upcoming-stay-display, .past-stay-display {
  overflow-y: auto;
}

.user-spend-rewards {
  display: flex;
  border: 2px #caaa5b solid;
  height: 20vmin;
  width: 50vmin;
}

.user-spend, .user-rewards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  width: 50%;
}

.user-spend {
  border-left: 2px #caaa5b solid;
  border-radius: 5px;
}

.money-spent, .points-accrued {
  font-size: x-large;
}

.datepicker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: larger;
  width: 100%;
  background-color: #003366;
}

.datepicker > label {
  color: white;
  margin: 1vmin;
  font-size: large;
}

.date-select {
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border: 2px white solid;
  border-radius: 2px;
}

.date-submit {
  font-size: small;
  height: 28px;
  color: white;
  border: 2px white solid;
  font-family: 'Montserrat', sans-serif;
  background-color: #003366;
  margin-left: 1%;
  border-radius: 2px;

}

.date-submit:hover {
  color: #003366;
  background-color: white;
  border-color: white;
}

.user-info{
  display: flex;
  flex-direction: column;
  border: 2px #003366 solid;
  height: 15vmin;
  width: 40vmin;
  margin: 1%;
}

.home-dash-page, .room-results-page {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcoming-stay-display {
  border: 2px #003366 solid;
  height: 20vmin;
  width: 80vmin;
}

.past-stay-display {
  border: 2px #003366 solid;
  height: 20vmin;
  width: 80vmin;
}

.filter-select {
  font-size: large;
  margin: 5%;
  font-family: 'Montserrat', sans-serif;
}

.filter-rooms-label {
  font-size: large;
}

.filter-rooms-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #caaa5b solid;
  height: 20vmin;
  width: 100vmin;
  margin: 1%;
  padding: 1%;
}

.room-option > img {
  width: 30%;
  border: 2px #caaa5b solid;
}

.price-header {
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
}

.price-header > span {
  font-size: small;
}

option{
  text-align: center;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.hidden, input::-webkit-calendar-picker-indicator {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

@import '~js-datepicker/dist/datepicker.min.css';
