body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
}

.pointer {
  cursor: pointer;
}

h2, h3 {
  font-family: 'Limelight', cursive;
}

h2 {
  font-size: xx-large;
  margin-bottom: 5%;
}

h3 {
  font-size: x-large;
}

.login-view .prime-view {
  height: 100vh;
}

.prime-view {
  padding-top: 15vmin;
}

.icon{
  height: 50px;
  width: 50px;
  margin: 0%;
}

.icons-container {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  top: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 1px 5px #888888;
  z-index: 1;
}

main {
  display: flex;
  justify-content: center;
}

.home-button {
  width: 40vmin;
  margin: 1%;
}

.home-user-section{
  width: inherit;
  display: flex;
  justify-content: space-evenly;
}

.user-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.user-info p {
  font-size: x-large;
  margin: 1%;
}

.upcoming-stay-display, .past-stay-display {
  overflow-y: auto;
}

.user-spend-rewards {
  display: flex;
  border: 2px pink solid;
  height: 20vmin;
  width: 50vmin;
}

.user-spend, .user-rewards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  width: 50%;
}

.user-spend {
  border-left: 2px pink solid;
}

.money-spent, .points-accrued {
  font-size: x-large;
}

.datepicker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: larger;
  width: 100%;
  background-color: #003366;
}

.datepicker > label {
  color: white;
  margin: 1vmin;
  font-size: large;
}

.date-select {
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border: 2px white solid;
  border-radius: 2px;
}

.date-submit {
  font-size: small;
  height: 28px;
  color: white;
  border: 2px white solid;
  font-family: 'Montserrat', sans-serif;
  background-color: #003366;
  margin-left: 1%;
  border-radius: 2px;

}

.date-submit:hover {
  color: #003366;
  background-color: white;
  border-color: white;
}

.user-info{
  display: flex;
  flex-direction: column;
  border: 2px blue solid;
  height: 15vmin;
  width: 40vmin;
  margin: 1%;
}

.home-dash-page, .room-results-page {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcoming-stay-display {
  border: 2px red solid;
  height: 20vmin;
  width: 80vmin;
}

.past-stay-display {
  border: 2px green solid;
  height: 20vmin;
  width: 80vmin;
}

.filter-select {
  font-size: large;
  margin: 5%;
  font-family: 'Montserrat', sans-serif;
}

.filter-rooms-label {
  font-size: large;
}

.filter-rooms-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #caaa5b solid;
  height: 20vmin;
  width: 100vmin;
  margin: 1%;
  padding: 1%;
}

.room-option > img {
  width: 30%;
  border: 2px #caaa5b solid;
}

.price-header {
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
}

.price-header > span {
  font-size: small;
}

option{
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  background-color: #003366;
  height: 50vmin;
  width: 50vmin;
  z-index: 2;
}

.modal:before {
  background: rgba(0, 0, 0, 0.6);
  height: 1000px;
  width: 1000px;
  position: fixed;
  z-index: 1;
}

.modal.is-open {
  display: block;
}

.hidden, input::-webkit-calendar-picker-indicator {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

@import '~js-datepicker/dist/datepicker.min.css';
